@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    min-height: 100vh;
    }

.img1 {
    height: 200px;
    width: auto;
}

.img2 {
    height: 200px;
    width: auto;
}

.header,
.content,
.subtitle,
.cards,
.paragraph,
.firm,
.sign-up-bar {
    margin: auto;
    padding: 20px 40px;
}

.section1 {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
}

.header .logo,
.text2 {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    gap: 50px;
    margin: 80px auto;
}

.content h1 {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
    margin-bottom: 16px;
}

.content p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 16px;
}

.content .button {
    padding: 2px 20px;
    background-color: #3882f6;
    border-radius: 5px;
    border-color: #3882f6;
    border-style: solid;
    color: #f9faf8;
}

.section2 {
    background-color: #fff;

}

.subtitle {
    text-align: center;
    max-width: 1000px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    gap: 10px;
}

.each-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.each-card .img2 {
    margin-bottom: 16px;
}

.each-card .text {
    text-align: center;
}

.section3 {
    background-color: #e5e7eb;
    padding: 40px 80px;

}

.section3 .paragraph {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    max-width: 1000px;

}

.section3 .firm {
    text-align: right;
    max-width: 1000px;

}

.section4 {
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
}

.text-2-3 {
    align-items: center;
    justify-content: center;
}

.section4 .sign-up-bar {
    background-color: #3882f6;
    padding: 40px 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
}

.sign-up-bar .text3 {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 16px;
}

.button2 {
    padding: 2px 20px;
    background-color: #3882f6;
    border-radius: 5px;
    border-color: #fff;
    border-style: solid;
    color: #f9faf8;
}

.footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    color:#e5e7eb;
}